@charset "utf-8";

/*
Theme Name: Suger Suger Baby
Theme URI: http://minimalwp.com
Description: PC、タブレット、スマートフォンと見ているデバイスに自動最適化されるレスポンシブデザインに対応したミニマルでシンプルな公式サイトタイプのWordPressテーマです。トップページにはスライドショーとサムネイルギャラリーを配置しました。とびきりの写真やイラストでオリジナリティ溢れるトップページにしてください。ロゴ、メニュー、スライドショー、ウィジェットが、管理画面から簡単にカスタマイズできますので、HTMLの知識が無くてもオリジナルサイトが作れます。
Version: 1.0
Author: Minimal WP
Author URI: http://minimalwp.com
License: 
License URI:
*/


/* ************************************************ 
*	基本設定
* ************************************************ */	

body {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 14px;
    background: #fff;
    color: #444;
    line-height: 180%;
    word-break:break-all;
}

/* リンク */

a {
    color: #45AAB8;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

a:hover {
    color: #666;
}

a:active, a:focus {
    outline: 0;
}


/* 画像 */

img {
    border: 0;
    padding: 0px;
    margin: 0px;
}

img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignright {
    padding: 4px;
    margin: 0 0 10px 20px;
    display: inline;
}

img.alignleft {
    padding: 4px;
    margin: 0 20px 10px 0;
    display: inline;
}


/* フロート */

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}


/* リスト */

ol {
    margin: 0 0 0 5px;
    padding: 0 0 0 0;
    list-style: decimal;
}

ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: disc;
}

li {
    margin: 0 0 0 15px;
    padding: 0 0 0 0;
}

li a {
    color: #45AAB8;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

li a:hover {
    color: #666;
}


/* ************************************************ 
*	全体Wrapper
* ************************************************ */	

.wrapper {
    max-width: 960px;
    _width: 960px;
    margin: auto;
    padding: 30px 10px;
}



/* ************************************************ 
*	ヘッダー
* ************************************************ */

#header {
    width: 100%;
    background: #f8f8f8;
}

.header-inner {
    overflow: hidden;
    margin: 0px auto 0 auto;
    padding: 60px 0 60px 0;
    max-width: 960px;
    _width: 960px;
}

#header h1 {
    text-align: center;
    margin: 0;
}

.logo {
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.blog-name {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-style: normal; 
    color: #ccc;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


/* ************************************************ 
*	トップナビゲーション
* ************************************************ */	


#nav {
    width: 100%;
    text-align: center;
    background: #79D1B0;
    margin: 0 auto 0px auto;
}

#nav ul {
    list-style: none;
    margin: auto;
}

.main-navigation {
    clear: both;
    margin: 0 auto;
    position: relative;
}

ul.nav-menu,
div.nav-menu > ul {
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    position: relative;
    margin: 0 0;
}

.nav-menu li a {
    color: #fff;
    display: block;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
}

.nav-menu li:hover > a,
.nav-menu li a:hover {
    background-color: #44DEDE;
}

.nav-menu .sub-menu,
.nav-menu .children {
    background-color: #44DEDE;
    display: none;
    padding: 0;
    position: absolute;
    z-index: 99999;
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
    border-left: 0;
    left: 100%;
    top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
    color: #fff;
    margin: 0;
    width: 100px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover {
    background-color: #5EBABA;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
    display: block;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
    color: #fff;
    background: #5EBABA;
}


.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}


/* ************************************************ 
*	スライド
* ************************************************ */	

#top-slide {
    width: 100%;
    padding: 0px;
    margin: 0px auto 0px auto;
    height: 100%;
    overflow: hidden;
}

.cycle-slideshow {
    overflow: hidden;
    max-width: 100%;
    margin: auto;
    text-align: center;
    height: auto;
}



/* ************************************************ 
*	メイン（本文）コンテンツ
* ************************************************ */	

#main {
    margin: 0 0;
    padding: 0 0 30px 0;
}



/* トップページウィジェットエリア */

#toplist {
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
}

.toplist ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.toplist li {
    font-size: 13px;
    margin: 6px 0px 0px 0px;
    padding: 2px 0px 2px 0px;
    list-style: none;
    border-bottom: 1px dotted #dedede;
}

.toplist li a {
    color: #666;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

.toplist li a:hover {
    background-position: 3px 50%;
    color: #999;
}

.top-title {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-style: normal;
    padding: 0px 0px 10px 0px;
    margin: 20px auto 30px auto;
    border-bottom: double 3px #ccc;
    width: 280px;
    color: #333;
    text-align: center;
}


.top-gallery-midashi {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-style: normal;
    padding: 0px 0px 10px 0px;
    margin: 20px auto 50px auto;
    border-bottom: double 3px #ccc;
    width: 280px;
    color: #333;
    text-align: center;
}



/* Latestブロック */	

#latest-bloc{
    width: 100%;
    background: #f8f8f8;
    padding: 50px 0 20px 0;
    margin: -50px auto -21px auto;
}
.latest-midashi {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-style: normal;
    padding: 20px 0px 10px 0px;
    margin: 0px auto 50px auto;
    border-bottom: double 3px #ccc;
    width: 280px;
    color: #333;
    text-align: center;
}
.latest {
    width: 960px;
    margin: -20px auto 50px auto;
    padding: 0px 0 0px 0;
    text-align: center;
}


/* ギャラリーレイアウト */	


li.item {
    height: 430px;
    margin-bottom: 50px;
}

.item-img {
    margin: 0 0 10px 0;
    height: 200px;
    overflow: hidden;
    text-align:center;
}

.item-cat {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 84%;
    color: #999;
    padding: 0 0 0px 0;
    margin: 0 0 10px 0;
}
.item-cat a{
    color: #444;
}

.item-date {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 80%;
    color: #ccc;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.item h2 {
    font-size: 16px;
    line-height: 150%;
    font-weight: normal;
    letter-spacing: 0.03em;
}

.item-title {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    margin: 0 0 0 0;
}

.item-title a {
    color: #444;
}

.item-title a:hover {
    color: #999;
}

.item-text {
    font-size: 12px;
    color: #444;
    line-height: 170%;
}


/* トップ3列組み */

.item {
}

.top-2retsu {
    width: 100%;
    margin: 0 auto 0px auto;
}

.top-2retsu img {
    width: 100%;
}

.first-block {
    float: left;
    width: 50%;
    padding: 30px 0px 30px 0;
}

.last-block {
    float: right;
    width: 47%;
    font-size: 14px;
    text-align: left;
    white-space: normal;
    vertical-align: middle;
    padding: 30px 0 20px 0;
}





/* ブログ記事部分 */	

p {
    font-size: 14px;
    color: #444;
    line-height: 190%;
    padding: 10px 0px 10px 0px;
}

p a {
    color: #45AAB8;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

p a:hover {
    color: #666;
}

p a:active, a:focus {
    outline: 0;
}

#date {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 10px;
    font-weight: normal;
    text-align: left;
    padding: 0 0 0 0;
    color: #999;
    letter-spacing: 0.1em;
}

.pagetitle {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-style: normal;
    padding: 0px 0px 10px 0px;
    margin: 10px auto 50px auto;
    border-bottom: double 3px #ccc;
    width: 280px;
    color: #333;
    text-align: center;
}

.pagetitle2 {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-style: normal;
    padding: 0px 0px 10px 0px;
    margin: 15px auto 50px auto;
    border-bottom: double 3px #ccc;
    width: 280px;
    color: #333;
    text-align: center;
}

.pagetitle a {
    color: #333;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
.pagetitle a:hover {
    color: #666;
}


.blog-date {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 80%;
    color: #ccc;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.blog-title {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 15px 0px;
    font-size: 21px;
    font-weight: bold;
    color: #333;
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
}

.blog-title a {
    color: #333;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

.blog-title a:hover {
    color: #666;
}

.blog-date2 {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 80%;
    color: #ccc;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    text-align: center;
}

.blog-title2 {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 15px 0px;
    font-size: 21px;
    font-weight: bold;
    color: #333;
    text-align: center;
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
}

.blog-title2 a {
    color: #333;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

.blog-title2 a:hover {
    color: #666;
}

.subtitle {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
    padding: 0 0 0 0;
    margin: 30px 0 10px 0;
    letter-spacing: 0.1em;
    color: #666;
}

blockquote {
    color: #666;
    border: 1px dotted #ccc;
    margin: 10px 0 10px 0;
    padding: 10px 20px;
}

#blog-foot {
    font-size: 75%;
    text-align: left;
    margin: 50px 0 0 0;
    padding: 2px 5px 2px 0px;
    font-weight: normal;
    color: #999;
    border-top: 1px dotted #ccc;
}

#blog-foot-archives {
    font-size: 75%;
    text-align: left;
    margin: 50px 0 100px 0;
    padding: 2px 5px 2px 10px;
    font-weight: normal;
    color: #999;
    background: #f7f7f7;
    border-bottom: 0px dotted #ccc;
}

#blog-foot span,
#blog-foot-archives span {
    color: #999;
}

.single-thumbnail {
    margin: 13px 0 0 0;
}

/* ページャー */

#next {
    font-size: 85%;
    font-weight: lighter;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#next-archives {
    font-size: 85%;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 30px;
}

.next-pagenavi {
    text-align: center;
    margin-top: 10px;
}


.pager{
	text-align:center;
}
a.page-numbers,
.pager .current{
	background: #f0f0f0;
	border:solid 1px #ddd;
	border-radius:2px;
	padding:5px 8px;
	margin:0 2px;
}
.pager .current{
	background: #ccc;
	border:solid 1px 999;
	color: #fff;
}


/* 関連記事 */

.similar-head {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    margin: 50px 0 15px 0;
    padding: 0 0 2px 0;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    letter-spacing: 0.05em;
    background: url() no-repeat;
    border-bottom: 1px solid #ccc;
}

.similar ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.similar li {
    font-size: 13px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
}

.similar li a {
    color: #555;
}

.similar li a:hover {
    color: #888;
}

.similar h4 {
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    padding: 0 0 0 5px;
}

table.similar-text {
    width: 100%;
    color: #444;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: dotted 1px #ccc;
    border-collapse: collapse;
    border-spacing: 0;
}

table.similar-text img {
    width: 150px;
}

table.similar-text th {
    text-align: left;
    width: 150px;
}

table.similar-text td {
    font-size: 14px;
    text-align: left;
    white-space: normal;
    vertical-align: middle;
}

table.similar-side {
    width: 100%;
    color: #444;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table.similar-side img {
    width: 80px;
}

table.similar-side th {
    text-align: left;
    width: 80px;
}

table.similar-side td {
    font-size: 13px;
    text-align: left;
    white-space: normal;
    vertical-align: middle;
}




/* コメント欄 */

.comment-head {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin: 0 0 0 0;
    padding: 0 10px 0 0px;
    background: url() no-repeat;
    border-bottom: 1px solid #ccc;
}

.commentlist li {
    list-style: none;
    font-size: 90%;
    color: #888;
}

.commentlist {
    margin: 0 0 50px 0;
    padding: 0 0 0 0;
}


/* WP必須 */

.wp-caption {
}

.wp-caption-text {
}

.sticky {
}

.gallery-caption {
}

.bypostauthor {
}


/* ************************************************ 
*	サイドバー
* ************************************************ */	

#sidebar {
    width: 100%;
    margin: 23px 0px 40px 0px;
    padding: 0 0 0 0;
}

#sidebar p {
    margin-bottom: 20px;
}

#sidebar h2 {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 12px;
    font-weight: normal;
    color: #999;
    letter-spacing: 0.1em;
    margin: 0px 0px 10px 0px;
    padding: 0 0 0 0;
    background: url() no-repeat;
    border-bottom: 1px solid #ccc;
}

.sidebar-title {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-style: normal;
    margin: 0px 0px 10px 0px;
    padding: 0 0 3px 0;
    background: url() no-repeat;
    border-bottom: 1px solid #ccc;
}

#sidebar h3 {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    line-height: 30px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 0px solid #ccc;
}

#sidebar ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#sidebar li {
    font-size: 13px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    border-bottom: 1px dotted #ccc;
}

#sidebar li a {
    display:inline;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

#sidebar li a:hover {
}


/* 階層表示 */

#sidebar ul.children {
    margin-bottom: -6px;
    display: block;
    padding: 5px 0 0 0;
}

#sidebar ul.children li {
    padding-left: 15px;
    padding-top: 5px;
    border-top: 1px dotted #ccc;
    border-bottom: 0px dotted #ccc;
}

#sidebar ul.sub-menu {
    margin-bottom: -6px;
    display: block;
    padding: 5px 0 0 0;
}

#sidebar ul.sub-menu li {
    padding-left: 15px;
    padding-top: 5px;
    border-top: 1px dotted #ccc;
    border-bottom: 0px dotted #ccc;
}


/* 新着表示 */

#sidebox-new {
    color: #666;
    margin: 0 0 50px 0;
    padding: 0 0 0 0;
}

#sidebox-new ul {
    floate: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#sidebox-new li {
    font-size: 12px;
    floate: left;
    list-style: none;
    margin: 0 0 0 0;
    padding: 6px 0 5px 0px;
}

#sidebox-new li a {
    color: #666;
    list-style: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

#sidebox-new li a:hover {
    color: #999;
}

/* ************************************************ 
*	フッターエリア
* ************************************************ */	

#footer {
    background: #737373;
    clear: both;
    width: 100%;
    font-size: 80%;
    margin: 0px auto 0px auto;
    padding: 25px 0;
}

.footer-inner {
    margin: 0px auto 0px auto;
    max-width: 960px;
    _width: 960px;
}

#sociallink {
    text-align: center;
    position: relative;
    margin: 0 auto 30px auto;
    padding: 0 0 0 0;
}

#copyright {
    font-size: 10px;
    color: #999;
    text-align: center;
    position: relative;
    margin: -20px 0 0 0;
    padding: 0 0 0 0;
}



/* ************************************************ 
*	ウィジット
* ************************************************ */	

.widget {
    margin: 0 0 30px 0;
}

.widget_recent_entries li a,
.widget_archive li a,
.widget_categories li a,
.widget_nav_menu li a {
    margin: 0 0 0 0px;
}


.textwidget {
    font-size: 13px;
    color: #444;
    line-height: 170%;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
}


.post-date {
    margin-left: 10px;
}

#topbox {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#topbox ul {
    floate: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#topbox li {
    font-size: 12px;
    floate: left;
    margin: 0 0 0 0;
    padding: 5px 0px 4px 0px;
    list-style: none;
    border-bottom: 1px dotted #ddd;
}

#topbox li a {
    font-size: 12px;
    color: #444;
    margin: 0 0 0 0;
    padding: 5px 0px 4px 0px;
    list-style: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

#topbox li a:hover {
    color: #999;
}

#topbox h2 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 0px dotted #fff;
}

#topbox h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-top: 0px dotted #fff;
    border-bottom: 0px dotted #fff;
}

#topbox h4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 0px dotted #fff;
}

#topbox ul.children {
    margin-bottom: 0px;
    display: block;
    padding: 5px 0 0 0;
}

#topbox ul.children li {
    padding-left: 15px;
    padding-top: 5px;
    border-top: 1px dotted #ccc;
    border-bottom: 0px dotted #ccc;
}

#topbox ul.sub-menu {
    margin-bottom: 0px;
    display: block;
    padding: 5px 0 0 0;
}

#topbox ul.sub-menu li {
    padding-left: 15px;
    padding-top: 5px;
    border-top: 1px dotted #ccc;
    border-bottom: 0px dotted #ccc;
}

#sidebox {
    color: #666;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#sidebox ul {
    floate: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#sidebox li {
    font-size: 12px;
    list-style: none;
    floate: left;
    margin: 0 0 0 0;
    padding: 6px 0 5px 0px;
}

#sidebox li a {
    color: #666;
    list-style: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}

#sidebox li a:hover {
    color: #999;
}

#sidebox h2 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 0px dotted #222;
}

#sidebox h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-top: 0px dotted #222;
    border-bottom: 0px dotted #222;
}

#sidebox h4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 0px dotted #222;
}

.footer-widget-title {
    font-family: arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin: 0 0px 10px 0px;
}

.widget ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.widget li {
    font-size: 88%;
    list-style: none;
}

.widget li a {
    color: #666;
}

.widget li a:hover {
    color: #999;
}


/* 本文下の広告枠 */

.widget-adspace {
    margin: 30px 0 -30px 0px;
}



/* ************************************************ 
*	検索フォーム
* ************************************************ */


.search fieldset {
    margin: -20px 0 20px 0px;
    border: 0px solid #eee;
}

.search input {
    font: 11px arial, sans-serif;
    color: #c0c0c0;
    width: 80%;
    padding: 5px 5px;
    vertical-align: middle;
    border: none;
    background: none;
}

.search button {
    width: 15px;
    height: 15px;
    cursor: pointer;
    vertical-align: middle;
    border: none;
    background: url(images/search.png) no-repeat;
}



/* ************************************************ 
*	文字サイズ
* ************************************************ */

.moji100px {
    font-size: 100px;
    line-height: 170%;
}

.moji90px {
    font-size: 90px;
    line-height: 170%;
}

.moji80px {
    font-size: 80px;
    line-height: 170%;
}

.moji70px {
    font-size: 70px;
    line-height: 170%;
}

.moji60px {
    font-size: 60px;
    line-height: 170%;
}

.moji50px {
    font-size: 50px;
    line-height: 170%;
}

.moji40px {
    font-size: 40px;
    line-height: 170%;
}

.moji30px {
    font-size: 30px;
    line-height: 170%;
}

.moji29px {
    font-size: 29px;
    line-height: 170%;
}

.moji28px {
    font-size: 28px;
    line-height: 170%;
}

.moji27px {
    font-size: 27px;
    line-height: 170%;
}

.moji26px {
    font-size: 26px;
    line-height: 170%;
}

.moji25px {
    font-size: 25px;
    line-height: 170%;
}

.moji24px {
    font-size: 24px;
    line-height: 170%;
}

.moji23px {
    font-size: 23px;
    line-height: 170%;
}

.moji22px {
    font-size: 22px;
    line-height: 170%;
}

.moji21px {
    font-size: 21px;
    line-height: 170%;
}

.moji20px {
    font-size: 20px;
    line-height: 170%;
}

.moji19px {
    font-size: 19px;
    line-height: 170%;
}

.moji18px {
    font-size: 18px;
    line-height: 170%;
}

.moji17px {
    font-size: 17px;
    line-height: 170%;
}

.moji16px {
    font-size: 16px;
    line-height: 170%;
}

.moji15px {
    font-size: 15px;
    line-height: 170%;
}

.moji14px {
    font-size: 14px;
    line-height: 170%;
}

.moji13px {
    font-size: 13px;
    line-height: 170%;
}

.moji12px {
    font-size: 12px;
    line-height: 170%;
}

.moji11px {
    font-size: 11px;
    line-height: 170%;
}

.moji10px {
    font-size: 10px;
    line-height: 150%;
}

.moji9px {
    font-size: 9px;
    line-height: 370%;
}

.mincho {
    font-family: 'century','Times New Roman','Baskerville','Optima','Palatino','Georgia','ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HGS明朝E','ＭＳ Ｐ明朝','MS PMincho',serif;
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}



/* ************************************************ 
*	マージン
* ************************************************ */

.margin-top10{
    margin-top: 10px;
}
.margin-top20{
    margin-top: 20px;
}
.margin-top30{
    margin-top: 30px;
}
.margin-top40{
    margin-top: 40px;
}
.margin-top50{
    margin-top: 50px;
}
.margin-top60{
    margin-top: 60px;
}
.margin-top70{
    margin-top: 70px;
}
.margin-top80{
    margin-top: 80px;
}
.margin-top90{
    margin-top: 90px;
}
.margin-top100{
    margin-top: 100px;
}


.margin-bottom10{
    margin-bottom: 10px;
}
.margin-bottom20{
    margin-bottom: 20px;
}
.margin-bottom30{
    margin-bottom: 30px;
}
.margin-bottom40{
    margin-bottom: 40px;
}
.margin-bottom50{
    margin-bottom: 50px;
}
.margin-bottom60{
    margin-bottom: 60px;
}
.margin-bottom70{
    margin-bottom: 70px;
}
.margin-bottom80{
    margin-bottom: 80px;
}
.margin-bottom90{
    margin-bottom: 90px;
}
.margin-bottom100{
    margin-bottom: 100px;
}


/* ************************************************ 
*	テーブル
* ************************************************ */

table {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

table tr {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

table td {
    text-align: left;
    vertical-align: top;
    line-height: 170%;
    text-align: justify;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-left: 0px dotted #CCCCCC;
}


/* プラン表風 */

table#plan {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0 0px;
    border: 1px #999 solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table#plan th {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px #999 solid;
    border-width: 0 0 1px 1px;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ddd;
}

table#plan td {
    font-size: 13px;
    text-align: center;
    padding: 10px;
    border: 1px #999 solid;
    border-width: 0 0 1px 1px;
    white-space: normal;
    vertical-align: middle;
}


/* フローチャート風 */

table#flow {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0px #CCC solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table#flow th {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding: 10px 0px;
    border: 0px #CCC solid;
    border-bottom: 1px #CCC solid;
    white-space: normal;
    vertical-align: middle;
}

table#flow td {
    font-size: 13px;
    text-align: left;
    padding: 10px;
    border-bottom: 1px #CCC solid;
    white-space: normal;
    vertical-align: middle;
}


/* コンタクトフォーム用 */

table#contact {
    font-size: 13px;
    width: 100%;
    color: #444;
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
    border: 0px #CCC solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table#contact th {
    font-weight: bold;
    line-height: 120%;
    text-align: left;
    padding: 10px;
    white-space: nowrap;
}

table#contact td {
    font-size: 13px;
    text-align: left;
    padding: 10px;
    white-space: normal;
    vertical-align: middle;
}




/* ************************************************ 
*	ライン
* ************************************************ */

.line-dotted {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 1px dotted #CCC;
}

.line-solid {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 1px solid #CCC;
}

.line-footmenu {
    margin: 0 0 5px 0;
    padding: 0 0 3px 0;
    border-bottom: 1px dotted #CCC;
}



/* ************************************************ 
*	画像装飾
* ************************************************ */

.pict_right {
    margin: 0 0 10px 20px;
    padding: 2px 2px 2px 2px;
    float: right;
    border: 1px solid #DCDCDC;
}

.pict_left {
    margin: 0 10px 10px 0;
    padding: 2px 2px 2px 2px;
    float: left;
    border: 1px solid #DCDCDC;
}

.pict1px {
    margin: 0 0 5px 0;
    padding: 2px 2px 2px 2px;
    border: 1px solid #CCC;
}

.pict_shadow {
    background: #fff;
    margin: 0px auto;
    border: 1px solid #ccc;
    padding: 5px 5px 5px 5px;
    border-radius: 1px;
 /* CSS3 */
    -webkit-border-radius: 1px;
 /* Firefox */
    -moz-border-radius: 1px;
 /* Safari,Chrome */
    box-shadow: 2px 2px 3px #C0C0C0;
}



/* ************************************************ 
*	角丸
* ************************************************ */

.border-radius {
    border-radius: 5px;
 /* CSS3 */
    -webkit-border-radius: 5px;
 /* Firefox */
    -moz-border-radius: 5px;
 /* Safari,Chrome */;
}



/* ************************************************ 
*	ボックスシャドウ・テキストシャドウ
* ************************************************ */

.box-shadow {
    box-shadow: 2px 2px 3px #ccc;
 /* CSS3 */
    -webkit-box-shadow: 2px 2px 3px #ccc;
 /* Safari,Chrome */
    -moz-box-shadow: 2px 2px 3px #ccc;
 /* Firefox */;
}

.box-shadow2 {
    box-shadow: 1px 2px 5px #ccc;
 /* CSS3 */
    -webkit-box-shadow: 1px 2px 5px #ccc;
 /* Safari,Chrome */
    -moz-box-shadow: 1px 2px 5px #ccc;
 /* Firefox */;
}

.text-shadow {
    text-shadow: 1px 1px 3px #DEDEDE;
 /* CSS3 */
    -webkit-text-shadow: 1px 1px 3px #DEDEDE;
 /* Safari,Chrome */
    -moz-text-shadow: 1px 1px 3px #DEDEDE;
 /* Firefox */;
}



/* ************************************************ 
*	CSS3ボタン
* ************************************************ */

.bt-dl a {
    font-size: 11px;
    letter-spacing: 0.1em;
    color: #fff;
    background: #44DEDE;
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 10px 10px;
}

.bt-dl a:hover {
    color: #fff;
    background: #5EBABA;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}




/* ************************************************ 
*   レスポンシブ
* ************************************************ */


/* PC 画面の横幅が960px以上 */

@media only screen and (min-width: 960px) {
iframe { width:100%; height:auto; max-width:960px;}
ins iframe { min-height:300px; }
}

/* Tablet (Portrait) 画面の横幅が768px〜959pxまで */

@media only screen and (min-width: 768px) and (max-width: 959px) {
.wrapper { width:728px; }
.header-inner { width:728px; margin:auto; padding-top:40px; padding-bottom:40px; }
li.item { height:450px; margin-bottom:40px; }
.item-img { margin: 0 0 10px 0; height: 150px; overflow: hidden; }
.twothird { width:460px; margin-right:10px; }
.cycle-slideshow { overflow:hidden; width:100%; height:auto; margin-bottom:0px; }
.latest { width:728px; }
.footer-inner { width:728px; }
iframe { width:100%; height:auto; max-width:728px; }
ins iframe { min-height:300px; }
}


/* Mobile (Portrait) 画面の横幅が767pxまで */

@media only screen and (max-width:767px) {
.wrapper { width:300px; }
.header-inner { width:300px; margin:auto; padding-top:40px; padding-bottom:40px; }
.logo { text-align:center; }
.blog-name { display:none; }
#header h1, #header .logo { float:none; margin-bottom:0px; }
.nav-menu li a { font-size:12px; padding:10px 10px; }
.fixed { position: static; }
#top-slide { width:100%; padding:0px; margin:0px auto 0px auto; }
.cycle-slideshow { overflow:hidden; width:100%; height:auto; margin-bottom:0px; }
li.item { height:470px; margin-bottom:40px; }
.item-img { margin: 0 0 10px 0; height: 200px; overflow: hidden; }
.latest { width:300px; }
p { font-size:15px; }
.first-block { float:left; width:30%; padding:30px 0px 30px 0; }
.last-block { float:right; width:66%; font-size:14px; text-align:left; white-space:normal; vertical-align:middle; padding:25px 0 20px 0; }
.footer-inner { width:300px; }
iframe { width: 100%; height:auto; max-width:300px; }
ins iframe { min-height:300px; }
}


/* Mobile (Landscape) 画面の横幅が480px〜767pxまで */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.wrapper { width:420px; }
.cycle-slideshow { overflow:hidden; width:100%; height:auto; margin-bottom:0px; }
.footer-inner { width:420px; }
li.item { height:530px; margin-bottom:40px; }
.item-img { margin: 0 0 10px 0; height: 280px; overflow: hidden; }
.latest { width:420px; }
iframe { width:100%; height:auto; max-width:420px; }
ins iframe { min-height:300px; }
}


/* Facebook Like Box */

div.fb_iframe_widget,
div.fb_iframe_widget iframe[style],
div.fb_iframe_widget span {
width: 100% !important;
max-width: 960px;
}