/*
Theme Name: SnowFall
Theme URI: http://d5creation.com/theme/snowfall/

Author: D5 Creation
Author URI: http://d5creation.com/

Description: SnowFall is CSS3 Powered and WordPress Latest Version Ready Responsive Theme for Business.  Super Elegant and Professional SnowFall Theme will be adjusted automatically with all smart devices if the Responsive Layout be selected.  Full Wide Template can be used for showing showcase or other pages. Featured Boxes, Portfolio and Staff Boxes can represent your company to the world. You can Visit the SnowFall Demo at http://demo.d5creation.com/themes/?theme=SnowFall and SnowFall descriptions at http://d5creation.com/theme/snowfall 

Version: 1.2.5

Tags: white, gray, black, blue, light, two-columns, right-sidebar, fixed-layout, fluid-layout, responsive-layout, custom-header, custom-background, custom-menu, threaded-comments, sticky-post, full-width-template, theme-options 

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

SnowFall WordPress Theme, Copyright 2015-2016: D5 Creation (www.d5creation.com)
SnowFall is distributed under the terms of the GNU GPL

Text Domain: snowfall

*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
:focus{outline:0;}
body{line-height:1;}
ol,
ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{font-weight:normal;text-align:left;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:"";}
blockquote,
q{quotes:"" "";}
a img{border:0;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{display:block;}
.alignnone{margin:5px 20px 20px 0;}
.aligncenter,
div.aligncenter{display:block;margin:5px auto 5px auto;}
.alignright{float:right;margin:5px 0 20px 20px;}
.alignleft{float:left;margin:5px 20px 20px 0;}
.aligncenter{display:block;margin:5px auto 5px auto;}
a img.alignright{float:right;margin:5px 0 20px 20px;}
a img.alignnone{margin:5px 20px 20px 0;}
a img.alignleft{float:left;margin:5px 20px 20px 0;}
a img.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#FFFFFF;border:1px solid #f0f0f0;max-width:96%;padding:5px 3px 10px;text-align:center;}
.wp-caption.alignnone{margin:5px 20px 20px 0;}
.wp-caption.alignleft{margin:5px 20px 20px 0;}
.wp-caption.alignright{margin:5px 0 20px 20px;}
.wp-caption img{border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto;}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px;}

body{color:#555555;  font-family:'Open Sans',Arial, FontAwesome, sans-serif;  font-size:14px;line-height:1.5;word-wrap:break-word; font-weight: 100; min-width: 1300px; background: #FFFFFF; }
.site-container { width: 100%; display: block; margin: 0 auto;  overflow: hidden; }

img{max-width:100%;border:0 none;}
#container{width:90%;margin:40px auto;}

#header{ width: 100%; top: 0; z-index: 9999; position: fixed; }
img.site-logo{width:25%;height:auto;padding:5px 0;float:left; font-size: 75px;}
#header-content{width:100%;margin:auto; background: #CCCCCC; background: rgba(5, 50, 100, 0.35); display: table; position: relative; padding:0 5%;  }
.site-title { display: block; min-height: 30px; color: #FFFFFF; font-size: 45px; font-weight: 700; }
.site-title-hidden{display:none;}

#content{float:left;width:70%;}
#content-full{width:100%;}
.content-ver-sep{background:none repeat scroll 0 0 #CCCCCC;border-bottom:1px solid #FFFFFF;clear:both;height:1px;}
.lsep{background:url("images/lsep.png") no-repeat scroll center top transparent;clear:both;height:5px;margin:10px auto; max-width: 90%;}
#right-sidebar{float:right;width:25%;}
#footer{background:url("images/back3.png") repeat scroll 0 0 #252525; background: rgba(1, 40, 140, 0.85); border-top:10px solid #02365A;clear:both;padding:0; width: 100%;}
.versep{background:#141414;border-bottom:1px solid #141414;border-top:80px solid #03267D;height:2px;}
#footer-content{width:90%;margin:0 auto;}

#snowfall-main-menu{color:#EEEEEE;line-height:1;max-width:70%; font-family: 'Roboto Condensed', FontAwesome, sans-serif; position: absolute; bottom: 0; right: 5%; }
#snowfall-main-menu ul{list-style:none outside none;}
#snowfall-main-menu li{float:left;position:relative;margin:0 1px;}
#snowfall-main-menu a{color:#FFFFFF;display:inline-block;font-size:15px;padding:10px 15px 15px;position:relative;text-align:center;text-transform:uppercase; font-weight: 500; opacity: 1; transition:all 1s; -moz-transition:all 1s; -o-transition:all 1s; -webkit-transition:all 1s;}
#snowfall-main-menu .menu-item-home a:hover,
#snowfall-main-menu a:hover,
#snowfall-main-menu .selected a,
#snowfall-main-menu .current-menu-item > a,
#snowfall-main-menu .current-menu-ancestor > a,
#snowfall-main-menu .current_page_item > a,
#snowfall-main-menu .current_page_ancestor > a{background: #555555; background: rgba(5,50,100,.7); color: #FFFFFF; }
#snowfall-main-menu .menu-item-home a { background: transparent; color: #0368AF; }
#snowfall-main-menu li ul{float:left;position:relative;margin:0;}
#snowfall-main-menu ul ul,
.sub-menu, .sub-menu ul ul{display:none;float:left;left:0;position:absolute;background: #555555; background: rgba(5,50,100,.5); z-index:10000;}
#snowfall-main-menu ul li ul li{margin:0;}
#snowfall-main-menu ul ul ul{left:100%;top:0;}
#snowfall-main-menu ul ul a, #snowfall-main-menu .menu-item-home ul a { border-bottom: 1px dotted rgba(255, 255, 255, 0.15); color:#FFFFFF;padding:9px 15px;width:200px;text-align:left;text-transform:none; font-weight: 100; background: none;}
#snowfall-main-menu ul ul a:hover,
#snowfall-main-menu .menu-item-home ul a:hover,
#snowfall-main-menu ul ul .current-menu-item > a,
#snowfall-main-menu ul ul .current-menu-ancestor > a,
#snowfall-main-menu ul ul .current_page_item > a,
#snowfall-main-menu ul .menu-item-home ul .current_page_ancestor > a {background:rgba(255, 255, 255, 0.15);color:#EEEEEE;}
#snowfall-main-menu .active { background: #000000; }
#snowfall-main-menu ul li:hover > ul{display:block;}
#snowfall-main-menu .menu-item-has-children a, #snowfall-main-menu .page_item_has_children a { padding-right: 20px;  }
#snowfall-main-menu li.menu-item-has-children a:after, #snowfall-main-menu li.page_item_has_children a:after { content: '\f107'; font-size: 19px; right:5px; position: absolute; line-height: .7;}
#snowfall-main-menu li.menu-item-has-children ul li a:after, #snowfall-main-menu li.page_item_has_children ul li a:after { content: "";}
#snowfall-main-menu .menu-item-has-children ul li.menu-item-has-children a:after, #snowfall-main-menu .page_item_has_children ul li.menu-item-has-children a:after { content: '\f105'; font-size: 19px;}
#snowfall-main-menu li.menu-item-has-children ul li.menu-item-has-children ul li a:after, #snowfall-main-menu li.page_item_has_children ul li.menu-item-has-children ul li a:after { content: "";}
#snowfall-main-menu .menu-item-has-children ul li.menu-item-has-children ul li.menu-item-has-children a:after, #snowfall-main-menu .page_item_has_children ul li.menu-item-has-children ul li.menu-item-has-children a:after { content: '\f105'; font-size: 19px;}
#snowfall-main-menu li.menu-item-has-children ul li.menu-item-has-children ul li.menu-item-has-children ul li a:after, #snowfall-main-menu li.page_item_has_children ul li.menu-item-has-children ul li.menu-item-has-children ul li a:after { content: "";}

.snowfall-top-menu-container { background: #AAAAAA; background: rgba(5, 50, 100, 0.55); text-align: center; margin: 0 auto; }
.snowfall-top-menu-items { width: auto; display: inline-block; padding: 3px 0; }
.snowfall-top-menu { display:inline-block; vertical-align: top; }
.snowfall-top-menu ul.menu {list-style:none outside none; display: table; float: right; margin: 0 20px; border-right: 1px solid #CCCCCC;}
.snowfall-top-menu ul.menu ul{display: none;}
.snowfall-top-menu .menu li{float:left;position:relative;margin:0 3px;}
.snowfall-top-menu .menu a{color:#EEEEEE;display:inline-block;font-size:13px;padding:5px 10px;position:relative;text-align:center; border-radius: 3px; font-weight: 500; opacity: 1; transition:all 1s; -moz-transition:all 1s; -o-transition:all 1s; -webkit-transition:all 1s; }
.snowfall-top-menu .menu a:before { content: '\f24d'; padding: 0 5px 0 0; font-size: 11px; }
.snowfall-top-menu .menu a:hover { background: #EEEEEE; background: rgba( 255, 255, 255, .15 );  color: #FFFFFF; }

.snowfall-top-menu-items #searchform { display:inline-block; margin-top: 3px; vertical-align: top;  }
.snowfall-top-menu-items input#s { padding: 5px 10px; width: 120px; min-width: 100px; border-radius: 3px 0 0 3px; border-color: #DDDDDD; background: #FFFFFF;  -webkit-transition-duration: 400ms; -webkit-transition-property: width, background; -webkit-transition-timing-function: ease; -moz-transition-duration: 400ms; -moz-transition-property: width, background; -moz-transition-timing-function: ease; -o-transition-duration: 400ms; -o-transition-property: width, background; -o-transition-timing-function: ease; width: 72px; color: #AAAAAA; }
.snowfall-top-menu-items #searchsubmit { background: url("images/search.png") no-repeat scroll center center #0368AF; border-radius: 0 3px 3px 0; font-size: 14px; font-weight: normal;
padding: 5px 20px;  text-indent: -90000px; margin-left: -5px; }

.snowfall-top-menu-items input#s:focus { width: 150px; color: #777777; background: #FFFFFF; }
.connumber { color:#EEEEEE; display:inline-block; padding: 5px 10px; font-weight: 500; vertical-align: top; }
.connumber:before { content: '\f095'; font-size: 17px; line-height:1; padding-right: 5px;}

ul.lboxd{display:inline-block;position:relative;font-size:14px; vertical-align: top; margin: 0 20px;}
ul.lboxd li{list-style:none;}
a.loginicon, a.loginicon:hover {display:block;float:right; }
a.loginicon::before, a.loginicon:hover::before { content: '\f007'; font-size: 35px; line-height: 1; }

ul.lboxd ul{background:url("images/back3.png") repeat scroll 0 0 #FFFFFF;display:none;padding:20px 40px 20px 20px;position:absolute;right:-20px;margin-top: 30px;;width:250px;z-index:99999;}
.login-username input, .login-password input, .login-submit input, ul.lboxd button{display:block;position:relative;width:100%;}

ul.lboxd li:hover > ul{display:block;}
ul.lboxd label, label{display:inline-block;margin-bottom:5px;}

.widget{display:block;word-wrap:break-word;}
#right-sidebar .widget{background:#F6F6F6;margin-bottom:20px;padding:15px; border-radius: 5px; overflow: hidden; }
.widget .widget-title { color:#FFFFFF;padding-bottom:5px;text-transform:uppercase; font-weight: 500;}
#right-sidebar .widget .widget-title { background: #0368AF; margin: -15px -15px 0; padding: 5px 10px; text-align: center;}
#right-sidebar .widget,
#right-sidebar .widget li,
#right-sidebar .widget a {color:#555555;text-decoration:none;}
#right-sidebar .widget a:hover{color:#333333;text-decoration:underline;}
#right-sidebar .widget ul, #right-sidebar .widget ul{margin: 0 0 10px 15px;;}
#right-sidebar .widget li{list-style: square outside none; padding: 5px 0;}
#footer-sidebar .widget{margin-bottom:30px;}
#footer-sidebar .first-footer-widget { float:left; width: 22%; min-width: 200px; min-height: 1px; }
#footer-sidebar .footer-widgets { margin-left: 4%; float:left; width: 22%; min-width: 200px; min-height: 1px; }
#footer-sidebar .widget,
#footer-sidebar .widget li,
#footer-sidebar .widget a{color:#EEEEEE;text-decoration:none;}
#footer-sidebar .widget a:hover{color:#FFFFFF;text-decoration:underline;}
#footer-sidebar .widget ul, #footer-sidebar .widget ul { margin: 0 0 10px 15px; }
#footer-sidebar .widget li{list-style: square outside none; padding: 5px 0;}
#right-sidebar input#s,
#footer-sidebar input#s{width:60%;min-width:100px;}
#right-sidebar form#searchform input[type="submit"],
#footer-sidebar form#searchform input[type="submit"]{padding:8px 7px;}
.textwedget{width:100%;}
h1, h2, h2 a, h2 a:visited, h3, h4, h5, h6{line-height:1.25;margin:0 0 10px; text-decoration:none;}
h1,h2,h3,h4,h5,h6{clear:both;text-decoration:none; font-family:'Roboto Condensed',Arial, FontAwesome, sans-serif;}
.utext { text-transform: uppercase; }

hr{background-color:#CCCCCC;border:0;height:1px;margin-bottom:10px;}
ul, ol{margin:0 0 10px 25px;}
ul{list-style:square outside none;}
ol{list-style:decimal outside none;}
dl{margin:0 20px;}
dt{font-weight:bold;}
dd{margin-bottom:10px;}
strong{font-weight:bold;}
cite, i{font-style:italic;}
em { font-weight: 700; }
blockquote cite,
blockquote em,
blockquote i{font-style:normal;}
pre{background:#FFFFFF;border-radius:5px 5px 5px 5px;color:#141414;line-height:18px;margin-bottom:18px;overflow:auto;padding:1.5em;}
abbr,
acronym{border-bottom:1px dotted #777777;cursor:help;}
sup,
sub{height:0;line-height:1;position:relative;vertical-align:baseline;font-size:70%;}
sup{bottom:1ex;}
sub{top:.5ex;}
address{background:#EEEEEE;border:2px solid #DDDDDD;border-radius:5px 5px 5px 5px;font-weight:500;margin-bottom:15px;max-width:250px;padding:5px 10px;text-align:right;}
embed{max-width:100%;}
#container .gallery{margin:0 auto 1.625em;}
#container .gallery a img{border:none;}
#container .gallery .attachment-thumbnail{float:none;margin:5px auto;}
img#wpstats{display:block;margin:0 auto 1.625em;}
#container .gallery-columns-1 .gallery-item{width:80%;}
#container .gallery-columns-2 .gallery-item{width:40%;}
#container .gallery-columns-3 .gallery-item{width:27%;}
#container .gallery-columns-4 .gallery-item{width:19%;}
#container .gallery-columns-4 .gallery-item img{width:100%;height:auto;}
h1{font-size:30px;}
h2{font-size:23px;}
h3{font-size:20px;}
h4{font-size:17px;}
h5{font-size:15px;}
h6{font-size:13px;}
p{margin-bottom:15px;}

a {color:#0368AF; text-decoration:none;}
a:hover { color:#02365A; }

b, strong{font-weight:bold;}
.displaynone{display:none;}
.clear{clear:both;}
table{background-color:#EEEEEE;border:1px solid #FFFFFF;border-radius:3px 3px 3px 3px;padding:5px;-moz-border-radius:3px;-webkit-border-radius:3px;min-width:200px;color:#333333;}
td{padding:5px 7px;vertical-align:top;}
#wp-calendar td{padding:0px 7px;}
th{font-weight:bold;line-height:1;padding:5px 7px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.7);background:#CCCCCC;}
caption{color:#555555;}
table#wp-calendar{width:100%;}
textarea, input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], .titlewrap input, select{background:#DDDDDD;border-radius:3px;font-size:14px;padding:10px 7px;width:98%;border-top:1px solid #AAAAAA;border-left:1px solid #AAAAAA;border-right:1px solid #FFFFFF;border-bottom:1px solid #FFFFFF; transition:all 1s; -moz-transition:all 1s; -o-transition:all 1s; -webkit-transition:all 1s;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="url"]:focus, .titlewrap:focus input:focus, select:focus {background:none repeat scroll 0 0 #F0F0F0;}
button,
input[type="reset"],
input[type="button"],
input[type="submit"],
.contactcontainer input[type="submit"]{  background: #0368AF; background-image: -webkit-linear-gradient(top, #0368AF, #02365A); background-image: -moz-linear-gradient(top, #0368AF, #02365A);   background-image: -ms-linear-gradient(top, #0368AF, #02365A); background-image: -o-linear-gradient(top, #0368AF, #02365A); background-image: linear-gradient(to bottom, #0368AF, #02365A); -webkit-border-radius: 10; -moz-border-radius: 10; border-radius: 5px; color: #ffffff; font-size: 19px; padding: 10px; text-decoration: none; border: none;cursor: pointer; }
button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
.contactcontainer input[type="submit"]:hover { background: #02365A; background-image: -webkit-linear-gradient(top, #02365A, #0368AF); background-image: -moz-linear-gradient(top, #02365A, #0368AF);   background-image: -ms-linear-gradient(top, #02365A, #0368AF); background-image: -o-linear-gradient(top, #02365A, #0368AF); background-image: linear-gradient(to bottom, #02365A, #0368AF); text-decoration: none; }
.colorwhite { color: #EEEEEE; font-size: 17px; }
button:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"]:active{position:relative;top:1px;}
input#s{width:70%;min-width:235px;}
.sticky:before{ content: "\f005 \f005 \f005"; letter-spacing: 10px; font-size: 20px; padding: 5px; display: block; text-align: center; background: #AAAAAA; color: #FFFFFF; border-radius: 5px 5px 0 0; }
.sticky .post-container { border-radius: 0 0 5px 5px; }
.gallery-caption{clear:both;width:95%;}
.bypostauthor{}
#container,
#content,
#content-full{font-size:14px;text-align:justify;}
#content-full #content { width: 100%; }
#content img,
#content-full img{height:auto;max-width:100%;vertical-align:middle;}
#content img.wp-smiley,
#content-full img.wp-smiley{border:none;box-shadow:none;}

.heading1container { width: 100%; padding: 10px 0; margin: 20px auto -20px;; overflow: hidden; }
.heading1vcenter { width:90%; margin: 0 auto; display: table; padding: 20px; background: #F6F6F6; border: 7px solid #FFFFFF; box-shadow: 0 0 1px 0 #EEEEEE; border-radius: 3px;  }
.heading1container .vcenter { width: 30%; display:table-cell; vertical-align: middle; margin-left: 10px; border-left: 3px solid #AAAAAA; text-align: center; }
#heading1{color:#0368AF;font-size:30px;text-align:right;font-weight:100; width: 100%; padding-right: 20px; text-shadow: 1px 1px 0 #FFFFFF; }
.heading-desc1{color:#555555;font-size:17px;text-align:right;width: 100%; font-weight: 100; line-height: 25px; padding-right: 20px;}
#heading1 em { font-weight: 500; }

.heading3container { width: 100%; padding: 0 0 450px; background: url("images/heading3back.png") no-repeat scroll center bottom / 100% auto transparent; }
#heading3{color:#141414;font-size:48px;text-align:center;font-weight:100; width: 90%; margin: 0 auto; padding: 110px 0 0 0;}
.heading-desc3{color:#0368AF;font-size:21px;text-align:center;width: 90%; margin: 10px auto 50px; font-weight: 100; line-height: 30px;}

.featured-boxs{padding:0 0 10px;display:block; margin: 0 -2.4% 0; text-align:center;}
.featured-box { display: inline-block; margin: 0 1.5% 20px; min-width: 200px; padding: 8px 0; text-align: center; transition: all 1s ease 0s;     vertical-align: top; width: 21.5%; }
.featured-box p { text-align: justify; }
.featured-box h3.ftitle{font-weight:500;font-size:25px;color:#777777; text-align: center; margin: 0 auto; line-height:1; transition:all .5s; -moz-transition:all .5s; -o-transition:all .5s; -webkit-transition:all .5s;}
.box-icon{  border-radius: 150px; display: block; font-size: 75px; height: 150px; width: 150px; line-height: 1; margin: 0 auto 20px; padding: 30px; text-align: center;  border: 2px solid #FFFFFF; color: #FFFFFF; box-shadow: 0 0 0 185px #0368AF inset; transition:all .35s; -moz-transition:all .35s; -o-transition:all .35s; -webkit-transition:all .35s; }
.featured-box:hover .box-icon { color: #0368AF; box-shadow: 0 0 0 3px #FFFFFF inset; border: 2px solid #0368AF; background: #FFFFFF; }
.featured-box:hover h3.ftitle { color:#0368AF; }

.bqpcontainer { padding: 30px 0 0; min-height: 300px; margin: 10px 0; }
.bqpcontainer .tesheading { color: #0368AF; }
.bqpcontainer .tesheading .read-more { margin: 10px 0 0 0; font-size: 20px; line-height: 1.5; padding: 5px 15px; position: absolute; right: 5%; border-radius: 3px;}
.bqpcontainer .tesheading .read-more:after { font-size: 20px;}
.bqpcontainer .featured-boxs{margin: 0 -2.4% 0; }
.bqpcontainer .featured-box { background: #F6F6F6; width:29.7%; padding: 0; margin: 0 1.5% 40px; overflow: hidden; border: none; border-radius: 3px; border-bottom: 5px solid #0368AF;  }
.attachment-fpage-thumb { width: 100%; height: auto; position: relative; }
.fppost-content { padding: 7px; }
.bqpcontainer .featured-box:hover { margin-top: 0; border-bottom: 5px solid #02365A; }
.bqpcontainer .featured-box:hover .read-more {  background: #02365A; }
.bqpcontainer .fpthumb { max-height: 15vw; }
.bqpcontainer .fpthumb img { min-height: 15vw; }
#wpsblogpost.bqpcontainer { background: transparent; margin:0; }
#wpsblogpost.bqpcontainer .featured-box { border-right: 1px solid #EEEEEE; border-left: 1px solid #EEEEEE; border-top: 1px solid #EEEEEE; }

.fpthumb { width: 100%; overflow: hidden; margin-bottom: 15px; position: relative; }

.effect img { opacity:1; -moz-transform:scale(1,1); -webkit-transform:scale(1,1); -o-transform:scale(1,1); -ms-transform:scale(1,1); transform:scale(1,1); -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.effect .mask { opacity:0; overflow:visible; border-color:rgba(0,0,0,0.7) transparent transparent transparent; border-style:solid; border-width:230px; width:0; height:0;    -moz-transform:translateY(-125px); -webkit-transform:translateY(-125px); -o-transform:translateY(-125px); -ms-transform:translateY(-125px); transform:translateY(-125px);    -moz-transition: -moz-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out; -webkit-transition: -webkit-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out; -o-transition: -o-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out; -ms-transition: -ms-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out; transition: transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out; }
.effect:hover img { opacity:0.9; -moz-transform:scale(1.5,1.5); -webkit-transform:scale(1.5,1.5); -o-transform:scale(1.5,1.5); -ms-transform:scale(1.5,1.5); transform:scale(1.5,1.5); }

blockquote, q {background:#DDDDDD;background:rgba(200, 200, 200, 0.10);border-left:10px solid #CCCCCC;margin:20px 10px;padding:10px;quotes:quotes:'<<' '>>';}
blockquote:before, q:before {color:#CCCCCC;content:'\201C';font-size:4em;line-height:.1em;margin-right:.20em;vertical-align:-.4em; font-family: Georgia,serif;}
blockquote:after, q:after {color:#CCCCCC;content:'\201D';font-size:4em;line-height:.1em;margin-left:.20em;vertical-align:-.4em; font-family: Georgia,serif;}
blockquote p, q p {display:inline;}

.post-meta { display: table; font-weight: 500; margin: 5px 0 10px; line-height: 2;}
.post-meta span:before { padding-right: 5px;}
.post-meta span { padding-right: 20px;}

#container .attachment-thumbnail{border:1px solid #AAAAAA;border-radius:3px 3px 3px 3px;margin:0px 15px 10px 0;padding:3px;float:left;}
#container .gallery .attachment-thumbnail{float:none;margin:5px auto;}

h1.page-title, h1.arc-post-title{font-size:40px;text-shadow:-1px -1px 3px #FFFFFF;text-align:left;color:#02365A; font-weight: 500;}
h2.post-title, h2.commentsbox, h3#reply-title, h2.post-title-color{font-size:35px;}
h2.commentsbox:before { font-size: 35px; padding-right: 10px; content: "\f086"; }

.searchinfo h1.page-title:before { font-size: 50px; position: absolute; width: 100px; margin-left: -110px; line-height: 1; } 
.searchinfo h3.arc-src, .searchinfo h1.page-title, .searchinfo #searchform, .searchinfo .backhome { padding-left: 110px; }

.entrytext{padding:10px 20px 10px;}
h3.arc-src{text-transform:uppercase;color:#02365A;font-size:20px;}
h3 span{color:#777777;}
.post, .hentry, .no-results{margin-bottom:40px;}

.post-container { border: 1px solid #EEEEEE; border-radius: 5px; overflow: hidden; }
.post-container .fpthumb { max-height: 30vw; }
.post-container a { transition:all 2s; -moz-transition:all 2s; -o-transition:all 2s; -webkit-transition:all 2s; }
.post-container .fpthumb img { -moz-transition:all 2s; -o-transition:all 2s; -webkit-transition:all 2s; }
.post-container:hover .fpthumb img { -moz-transform:scale(1.5,1.5); -webkit-transform:scale(1.5,1.5); -o-transform:scale(1.5,1.5); -ms-transform:scale(1.5,1.5); transform:scale(1.5,1.5); }

.read-more{font-size: 13px; font-weight: 300; padding: 5px 7px; margin: 11px -7px 0 0; float: right; text-transform: uppercase; background: #0368AF; color: #FFFFFF; transition:all 1s; -moz-transition:all 1s; -o-transition:all 1s; -webkit-transition:all 1s;}
.read-more:after { content: "\f061"; font-size: 15px; padding-left: 5px; }
.read-more:hover { background: #02365A; opacity: 1; color: #FFFFFF; }

.up-bottom-border { background: #eeeeee; border-top: 1px solid #dddddd; display: block; padding: 5px 15px; margin-top: 15px; overflow: hidden; }
.up-bottom-border, .up-bottom-border a, .up-bottom-border a:hover { color: #777777; text-shadow: 0 1px 0 #ffffff; }
.page-link{font-weight:500; border-bottom: 1px solid #EEEEEE; padding: 10px 0;}
.page-link:before { font-size: 25px; margin-right: 5px; padding: 10px 0; position: relative; top: 3px; }
.page-link a{ background: #0368AF; border-radius: 150px 150px 150px 150px; color: #FFFFFF; padding: 3px 10px;}

.floatleft{float:left;width:47%; min-width: 200px;}
.floatright{float:right;width:47%; min-width: 200px;}

.up-bottom-border .floatleft { padding: 10px; text-align: left; font-weight: 700; }
.up-bottom-border .floatright { padding: 10px; text-align: right; font-weight: 700; }

#page-nav .alignright{text-align:right;}
#page-nav .alignleft{text-align:left;}
#page-nav a{border-width:1px;font-size:17px;font-weight:500;padding:10px;}

.commentsbox { border-bottom: 1px solid #EEEEEE; }
#comments .commentlist{margin:0;}
#comments .watermark{color:rgba(150, 150, 150, 0.7);font-size:17px;text-align:center;text-shadow:none;text-transform:uppercase;}
#comments .comment-author cite,
#comments .comment-author cite a{color:#02365A;letter-spacing:3px;font-style:normal;font-weight:bold;}
#comments img.avatar{border: 5px solid #FFFFFF; border-radius: 5px; box-shadow: 0 0 3px 0 #AAAAAA; height: 80px; left: 0; position: absolute; width: 80px;}
#comments ul.children{padding:0;}

.comment-body{ background: #EEEEEE; border-radius: 5px; padding: 10px;}
.comment-body:after { border-bottom: 15px solid transparent; border-right: 15px solid #EEEEEE; border-top: 15px solid transparent; content: ""; margin: 0 0 0 -25px; position: absolute; top: 60px; }

#comments .commentlist li.comment{line-height:19px;margin:0 0 5px;padding:20px 0 0 115px;position:relative;}
#comments .comment-body p:last-child{margin-bottom:6px;}
#comments .comment-meta,
#comments .comment-meta a:link,
#comments .comment-meta a:visited{color:#AAAAAA;font-size:12px;padding-bottom:10px;text-shadow:none;}
#comments .commentlist .children li{border-top:2px solid #FFFFFF;list-style:none outside none;margin:0 0 0 -25px;}
#comments .commentlist li:last-child{border-bottom:medium none;ist-style:none outside none;}
#comment-form{max-width:650px;}
#respond .required{color:#02365A;font-weight:bold;position:absolute;}
#comments ol.commentlist, #comments li.commentlist{padding:0;list-style:none;}
#comments-list #respond{margin:0 0 18px 0;}
#comments-list ul #respond{margin:0;}
#cancel-comment-reply-link{font-weight:normal;line-height:18px;}
#respond input{margin:0 0 9px;}
#respond textarea{width:98%;}
#respond .form-allowed-tags{font-size:13px;line-height:18px;}
#respond .form-allowed-tags code{font-size:11px;}
#respond .form-submit{margin:12px 0;}
#respond .form-submit input{font-size:15px;width:auto;}
.snowfall-top-menu.displaynone { display: none; }

.go-top:after { content: '\f062'; }
.go-top { background: #0368AF; border-radius: 150px; bottom: 10px; color: #FFFFFF; display: none; font-size: 20px; opacity: 0.5;     padding: 10px; position: fixed; right: 10px; width: 45px; height: 45px; line-height: 1.3; text-align: center; transition:all 1s; -moz-transition:all 1s; -o-transition:all 1s; -webkit-transition:all 1s; }
.go-top:hover { opacity: .9;  color: #FFFFFF;}
.headerheight { display: block; clear: both; height: 1px; margin-bottom: -1px; }

#footer-sidebar{overflow:hidden;}
#creditline{color:#EEEEEE;font-size:13px;margin:0 -10%;text-align:center; padding: 10px 15%; background: #02365A;}
#creditline a{font-weight:bold; color: #FFFFFF;}

*, *:before, *:after { box-sizing: border-box; margin: 0; outline: medium none; padding: 0; }
*, *:before, *:after { box-sizing: border-box; margin: 0; outline: medium none; padding: 0; }
.hline { background: url("images/hlineback.png") no-repeat scroll center top transparent; border-bottom: 1px solid #f0f0f0; display: block; height: 10px; margin: 9px 0 15px; width: 100%; }
.boxtopicon { text-align: center; margin: 45px auto 0; color: #0368AF; font-size: 40px; }
.boxtoptitle { text-align: center; width: 90%; margin: 0 auto; font-size:48px; color: #0368AF; }
.boxtopdes { text-align: center; width: 90%; margin: 0 auto; font-size:18px; line-height: 21px; max-width: 650px; padding: 21px 0 0; font-weight: 300; }

#pageloader { background-color: #272d35; height: 100%; width: 100%; z-index: 999999; position:fixed; top: 0; left: 0; }
.loader-img { left: 50%; margin: -27px 0 0 -27px; position: absolute; text-align: center; top: 50%; width: auto; }

.box100 { width: 100%; display: block; clear: both; }
.box90 { width: 90%; display: block; margin: 0 auto; }
.box90-5 { margin:0 -5%; }

#staff-box-item .box90 { overflow: hidden; padding: 20px 0; }
.servicecontainer { background: #0368AF; display: block; overflow: hidden; padding-bottom: 70px;  }
.servicecontainer .boxtopdes {  margin: 0 auto -60px; }
.servicecontainer .boxtopicon, .servicecontainer .boxtoptitle, .servicecontainer .boxtopdes { color: #FFFFFF; }


::-webkit-input-placeholder { color: #DDDDDD; }
:-moz-placeholder { color: #DDDDDD;  }
::-moz-placeholder { color: #DDDDDD; }
:-ms-input-placeholder {  color: #DDDDDD;  }

.mobile-menu { color: #FFFFFF; background: #0368AF; padding: 5px; margin-bottom: 5px; font-size: 20px; display: none; cursor:pointer; width: 100%; text-align: center;  }
.mobile-menu::before { content:'\f0c9'; font-size: 20px; padding-right: 10px; }

.main-slider { background: #000d67 url("images/snowfall.jpg") no-repeat scroll center top / 100% 100%; color:#FFFFFF; text-align: center; position: absolute; width: 100%; top: 0; }
.mslides { width: 85%; margin: 0 auto; display: block; padding: 130px 0 100px; }
.mslides li { list-style: none;}
.caption1 { line-height: 1; }
.title1 { font-size: 72px; font-size: 5.27vw; }
.title2 { font-size: 60px; font-weight: 900; font-size: 4.39vw; }
.title3 { font-size: 35px; font-size: 2.56vw; }
.slide-links { margin: 50px auto; }
.slide_btn { border-radius: 3px; margin: 0 10px; display: inline-block; overflow: hidden; border: 1px solid #ffffff; color: #ffffff; display: inline-block; font-size: 19px; font-weight: 400; padding: 10px 20px; transition:all 1s; -moz-transition:all 1s; -o-transition:all 1s; -webkit-transition:all 1s; } 
.fill-color { border: none; padding: 11px 21px; background:#0DADE2;  } 
.slide_btn:hover { background: #0368AF; border-color: #0368AF; color: #ffffff; }
.clear-top { display: block; height: 1px; width: 100%; clear: both; }
#page-nav .nav-previous { float: right; width: 45%; }
#page-nav .nav-next { float: left; width: 45%; }

.social { display: table; margin: -70px auto 30px; padding: 0 10px 10px; }
.social a { background: rgba(0, 0, 0, 0.15); border-radius: 5px; float: left; height: 50px; line-height: 1.7; margin: 0 5px; text-align: center; width: 50px; transition:all 1s; -moz-transition:all 1s; -o-transition:all 1s; -webkit-transition:all 1s; }

.social a { background: rgba(0, 0, 0, 0.15);
background: -webkit-linear-gradient(-45deg, #111111 50%, rgba(0, 0, 0, 0.15) 50%);
background: -moz-inear-gradient(-45deg, #111111 50%, rgba(0, 0, 0, 0.15) 50%);
background: -o-linear-gradient(-45deg, #111111 50%, rgba(0, 0, 0, 0.15) 50%);
background: -ms-linear-gradient(-45deg, #111111 50%, rgba(0, 0, 0, 0.15) 50%);
background: linear-gradient(-45deg, #111111 50%, rgba(0, 0, 0, 0.15) 50%);
background-size: 100% 100%;
}

.social a:hover { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
.social a::before { content: '\f005'; display: inline-block; font-size: 30px; vertical-align: top; -webkit-font-smoothing: antialiased; }

.social-link a[href*="wordpress.org"]::before, .social-link a[href*="wordpress.com"]::before { content: '\f19a'; color:   #09b6db; }
.social-link a[href*="dribbble.com"]::before { content: '\f17d'; color:   #ea4c89; }
.social-link a[href*="github.com"]::before { content: '\f113'; color:   #555555; }
.social-link a[href*="tumblr.com"]::before { content: '\f173'; color:   #455afa; }
.social-link a[href*="flickr.com"]::before { content: '\f16e'; color:   #ff0084; }
.social-link a[href*="youtube.com"]::before { content: '\f16a'; color:   #F90909; }
.social-link a[href*="vimeo.com"]::before { content: '\f194'; color:   #1AB7EA; }
.social-link a[href*="codepen.io"]::before { content: '\f1cb'; color:   #555555; }
.social-link a[href*="linkedin.com"]::before { content: '\f0e1'; color:   #05ace3; }

/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; 	display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; 	text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }


